// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-grey: #ECEDEE;
$light-light-grey: #C4C4C4;

$white:#FDFDFD;
$fern: #B7BEBA;
$stone-grey: #828384;
$normal-grey: #DADBDD;
$old-blue: #C1CAD3;
$blue-grey: #73797E;
