label {
  display: none
}

input {
  background-color: transparent;
  border: none;
  color: $fern;
  border-bottom: 1px solid $fern;
  width: 70%;
  border-radius: 0;
  margin-left: 5%;
  transform: all 0.5s ease;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  border-radius: 5px;
}
